<!-- html 5 -->
<!DOCTYPE html>
  <html>
   <!-- heading -->
   <head>
   <h1>Drivers Licence Application Form</h1>
   </head>
   <style>
   body{
   background-color:faf9fa;
       }
   </style>
   <link href="..\styles\myStyles.css" rel="stylesheet"/>
 <body >
 <article>
   <header></header>
       <section>
         <form id="driversApplicationForm">
         <!-- First Name -->
             <div>
                  <label name="firstName"> First Name:</label>
                    <input type="text "id="firstName" name="firstName" placeholder="Enter your First Name">
                </div>
             <br>
         <!-- Last Name -->
             <div>
                 <label name="lastName"> Last Name:</label>
                   <input type="text "id="lastName" name="lastName" placeholder="Enter your Last Name">
            </div>
             <br>
         <!-- Gender -->
             <div>
             <label name="gender"> Gender: </label>
             <label name="gender"> Male </label>
             <input type="radio" id="gender" name="gender">
             <label name="gender"> Female </label>
             <input type="radio" id="gender" name="gender">
             </div>
             <br>
             <!-- Seniour citizen -->
             <div>
             <label name="seniorCitizen">Are you a Senior Citizen:</label>
             <input type="checkbox" id="seniorCitizen" name="seniorCitizen" >
            </div>
             <br>
             <!-- submit -->

             <button type="submit" id="submit" >
                 <span>Submit</span></button>
             <button type="reset" id="cancel" >
                 <span>Cancel</span></button>

             
             
                 </form>
       </section>
  <footer></footer>
  </article>
</body>
</html>